{% extends 'app/base.html' %}
{% load static %}
{% block addProduct %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Thêm bài viết</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            {% if submitted %}
                <div class="alert alert-success" role="alert">
                    Thêm bài viết thành công
                </div>
            {% else %}
            <form method="POST" enctype="multipart/form-data" action="{% url 'addArticle' %}">
                {% csrf_token %}

                {{ form_A.as_p }}
                <button type="submit" class="btn btn-primary my-3">Thêm bài viết </button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}